*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.content{
  display: flex;
  align-items: center;
  flex-basis: auto;
}

.picture{
  width: 40%;
  text-align: center;
}

.blok-img{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.txt{
  position: absolute;
  color: aliceblue;
  bottom: 0.5em;
  font-size: 0.5em;
  
}

.txt2{
  position: absolute;
  color: aliceblue;
  top: 2.5em;
}

.right{
  width: 60vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.left{
  padding-left: 3vw;
}

.dummy-text{
  margin-bottom: 50px;
  font-size: 32px;
}

.remote-text{
  margin: 40px 0 0px;
}


.form{
  box-shadow: 0 10px 20px -2px rgb(22, 22, 22);
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.input{
  display: flex;
  flex-flow: column wrap;
  width: 40%;
  font-size: 0.7rem;
  text-transform: uppercase;
  opacity: 70%;
}
.form-title{
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
}

input{
  border: 1px solid rgb(77, 77, 77);
  border-radius: 3px;
}

input:focus{
  outline:invert;
  border: 2px solid;
}

button{
  background-color: rgba(0, 0, 0, 0);
  font-weight: 700;
  font-size: 1.2em;
  border: 2px solid;
  border-radius: 5px;
  padding: 10px 40px;
  margin: 40px 0;
}

button:hover{
  color: blue;
}

.log-in{
  display: flex;
  gap: 5px;
}

a{
  text-decoration: none;
  font-weight: 700;
}

a:hover{
  color: blue;
}